<% show_post ||= false %>
  <div class="row">
      <div class="span0 well text-center">
        <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: "post" do %>
          <% if logged_in? %>
            <i class="icon-arrow-up"></i>
              <% end %>
              <% end %>
              <p><%= comment.total_votes %> votes</p>
              <% if logged_in? %>
              <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: "post" do %>
            <i class="icon-arrow-down"></i>
         <% end %>
        <% end %>
      </div>

    <div class="well span9">
      <em><%= comment.body %></em>
      <% if show_post %> 
        on <%= link_to comment.post.title, post_path(comment.post) %>
      <% end %>
      <p><span class="quiet">by </span><%= link_to comment.user.username, user_path(comment.user) %> at 
      <span class="quiet"><%= display_datetime(comment.created_at) %></span></p>  
    </div>
</div>