<% if logged_in? %>
  <p class="pull-right">
    [<%= link_to "Edit this post", edit_post_path(@post) %>]
  </p>
<% end %>
  <p>
    <%= render @post.categories %>
  </p>
    <%= render "shared/content_title", title: @post.title %>
  <hr/> 
  <p>Description: 
    <%= @post.description %>
  </p>
  <p>Url:
    <%= @post.url %>
  </p>
  <br/>
<% if logged_in? %>
  <%= render "shared/errors", obj: @comment %>
    <%= form_for [@post, @comment] do |f| %>
      <div class="control-group">
      <%= f.label :body, "Leave a comment" %>
      <%= f.text_area :body, rows: 8, class: "span4" %>
      </div>
      <%= f.submit "Create comment", class: "btn btn-primary" %>
    <% end %>
<% end %>
<%= link_to "Back to All Posts", posts_path %>
<h4>Comments:</h4>
  <% @post.reload.comments.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>